@page
@model SalesRazorPageApp.Pages.Members.Profile
@{
    ViewData["Title"] = "Profile";
}

<h1>@ViewData["Title"]</h1>

<div>
    <button type="button" class="btn btn-primary" 
                onclick="location.href='/orders'">Xem lịch sử đơn hàng</button>
</div>